@import '../abstract/variaveis';

.banner{
    //Adicionando imagem de fundo.
    //imagem centralizada e sem repetição.
    background: url(../../imagens/banner.jpeg) 27% center no-repeat;

    //tamanho mínimo
    min-height: 350px;
    //propiedade para ocupação de toda a área que informamos
    background-size: cover;
    //para confirgurar os alinhamentos dos elementos internos
    display: flex;
    //Centralizar elementos
    justify-content: center;
    align-items: center;
    //transparência do nosso fundo
    opacity: 0.9;
    
    .inner-banner{
        padding: 3rem; 
        background-color: $cor-terciaria;
        opacity: 0.9;
        border-radius: 50px;
        
        h1{
            font-size: $tamanho-texto;
            color: $cor-primaria;
        }

        h2{
            font-size: $tamanho-texto / 2;
            color: $cor-secundaria;
        }
    }

}